@import "layoutVars"

.g-header-wrapper
  display flex
  justify-content space-between
  height $headerHeight
  vertical-align middle
  padding 0 20px
  background white
  border-bottom $border
  box-sizing border-box

.g-app-title
  font-size 30px
  font-weight 600
  line-height
  cursor pointer
  flex 0.2

#g-global-nav-container
  flex 1

.g-quick-search-form
  display inline-block
  margin-right 12px
  vertical-align top
  margin-top (($headerHeight - 30px) / 2)
  width $quickSearchWidth

.g-current-user-wrapper
  display inline

/* Header Responsive */
@media (max-width: $largeWidth)
  .g-app-title
    flex 0.5
    margin-right 2%

@media (min-width: $mediumWidth)
  #g-app-body-container.g-default-layout
    margin (10px + $headerHeight) 20px 10px (20px + $navWidth)

@media (max-width: $mediumWidth)
  #g-global-nav-container
    display none

@media (max-width: 510px)
  .g-app-title
    display none
