@import "layoutVars"

.g-header-wrapper
  display flex
  justify-content space-between
  align-items center
  height $headerHeight
  vertical-align middle
  padding 0 20px
  background white
  border-bottom $border
  box-sizing border-box

.g-app-title
  font-size 30px
  font-weight 600
  line-height
  cursor pointer
  flex .2

#g-global-nav-container
  flex .8

.g-quick-search-form

.g-current-user-wrapper
  margin-left 1%

/* Header Responsive */
@media (max-width: $largeWidth)
  .g-app-title
    flex .5
    margin-right 2%

@media (min-width: $mediumWidth)
  #g-app-body-container.g-default-layout
    margin (10px + $headerHeight) 20px 10px (20px + $navWidth)

@media (max-width: $mediumWidth)
  #g-global-nav-container
    display none

@media (max-width: $removeBrandNameWidth)
  .g-app-title
    display none
