$navWidth = 230px
$minHeight = 600px
$headerHeight = 52px
$headerZ = 50
$modalBackdropZ = 1030
$modalZ = 1040
$progressZ = $modalZ + 100
$alertsZ = $progressZ + 100
$quickSearchWidth = 220px

/* Header responsive */
$largeWidth = 875px // 1020px for admin
$mediumWidth = 710px // 720px for admin
$removeBrandNameWidth = 525px
$smallWidth = 465px // 570 for admin
$teenyWidth = 325px

/* Body */
$bodyMargin = 20px

$baseColor = #333
$normalColor = alpha($baseColor, 0.85)
$lightColor = alpha($baseColor, 0.7)

$accentColor = #0097d8

$secondaryBackgroundColor = alpha($baseColor, 0.05)

$border = 1px solid alpha($baseColor, 0.1)

$resourceTitleSize = 16px
$resourceSubtitleSize = 14px

$privateColor = #fff9ee
